<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge"/>
    <title>Serwisowanie Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div th:fragment="header">
    <nav class="nav navbar navbar-expand-sm navbar-dark bg-dark p0">
        <div class="container">
            <a href="#" class="navbar-brand">Serwisowanie Online</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-2">
                         <span sec:authorize="hasAnyRole('ROLE_EMPLOYEE','ROLE_ADMIN')">
                             <a href="/dashboard/employeeDashboard" class="nav-link active">
                                Dashboard
                             </a>
                         </span>
                        <span sec:authorize="hasRole('ROLE_CUSTOMER')">
                             <a href="/dashboard/customerDashboard" class="nav-link active">
                                Dashboard
                             </a>
                         </span>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link">
                            Zgłoszenia
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="
						nav-link">
                            Kategorie
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="#" class="nav-link">
                            Klienci
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                     <span sec:authorize="isAuthenticated()">
                         <li class="nav-item dropdown mr-3">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                     <i class="fa fa-user"></i><span sec:authentication="name"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">
                                    <i class="fa fa-user-circle"></i>Profil
                                </a>
                                <a href="#" class="dropdown-item">
                                    <i class="fa fa-gear"></i>Ustawienia
                                </a>
                            </div>
                         </li>
                     </span>

                    <span sec:authorize="isAnonymous()">
                          <li class="nav-item">
                            <a href="/login" th:href="@{/login}">
                                 <span>
                                        <i class="fa fa-sign-in"></i> Zaloguj się
                                 </span>
                            </a>
                         </li>
                    </span>

                    <span sec:authorize="isAuthenticated()">
                          <li class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <button class="btn btn-dark nav-link">
                                    <span>
                                        <i class="fa fa-sign-out"></i> Wyloguj się
                                    </span>
                                </button>
                            </form>
                         </li>
                    </span>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>