body {
    background: #333;
    color: #fff; }

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8; }

#home-section {
    background: url("../images/Sartori-Maintenance-Technician.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:600px;
    position:relative;
}

#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    min-height:300px;
}
#home-section .home-inner {
    padding-top: 75px;
}
#home-section .card-form {
    opacity: 0.8; }
#home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}
#my-footer {
    display: flex;
    flex-direction: column;
}