<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
    <title>Serwisowanie Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/signin.css">
</head>
<body>
<div class="container">
    <div th:if="${param.error!=null}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${param.logout!=null}" class="alert alert-danger">
        <p th:text="${msg}"></p>
    </div>
    <form id="login-form" class="login-form" action="/login" th:action="@{/login}" method="POST">
        <h2 class="login-form-heading">Panel logowania</h2>
        <label for="username" class="sr-only">Login</label>
        <input id="username" type="text" name="custom_username" class="form-control" placeholder="Login" required="required" autofocus="autofocus"/>
        <label for="password" class="sr-only">Hasło</label>
        <input id="password" type="password" name="custom_password" class="form-control" placeholder="Password" required="required"/>
        <button id="saveBtn" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    </form>
</div>
</body>
</html>