<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
    <title>Serwisowanie Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
        function changeModalContent() {

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("addReportBody").innerHTML = this.response;

                }
            };
            xhttp.open("GET", "http://localhost:8080/reports/reportForm", true);
            xhttp.send();
        }
    </script>
</head>
<div th:replace="fragments/header::header">
</div>
<body>
<header class="main-header py-2 bg-primary text-white mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-gear"></i> Panel Klienta</h1>
            </div>
        </div>
    </div>
</header>
<section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mr-auto">
                <a href="/dashboard/employeeDashboard" class="btn btn-light btn-block">
                    <i class="fa fa-arrow-left"></i> Powrót
                </a>
            </div>
        </div>
    </div>
</section>

<section id="reports">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Edytuj zgłoszenie</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            <h3>Szczegóły zgłoszenia</h3>
                            <p th:text="${'Id zgłoszenia: ' +  report.reportId}">
                            <p th:text="${'Tytuł zgłoszenia: ' +  report.title}">
                            <p th:text="${'Opis problemu: ' +  report.description}">
                            <p th:text="${'Nazwa urządzenia:' + report.device.brand + ' ' + report.device.model}">
                            <p th:text="${'Opis urządzenia:' + report.device.description}">
                            <p th:text="${'Numer seryjny urządzenia :' + report.device.serialNumber}">
                            <p th:text="${'Wewnętrzny numer identyfikacyjny urządzenia :' + report.device.externalId}">
                        </div>
                        <form th:action="@{/dashboard/employeeDashboard/reportDetails}" method="post" th:object="${report}">
                            <input type="hidden" th:field="*{reportId}" />
                            <div class="form-group">
                                <label for="reportStatus">Status zgłoszenia</label>
                                <select id="reportStatus" class="form-control" th:field="*{reportStatus}">
                                    <option th:each="status:${T(com.service.remote.entity.ReportStatus).values()}"
                                            th:value="${status.name()}"
                                            th:text="${status.reportStatusName}">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group float-right">
                                <a href="/dashboard/employeeDashboard" class="btn btn-secondary">Anuluj</a>
                                <button id="mySubmitBtn" class="btn btn-primary" type="submit">Edytuj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>